@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #777777;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffcc21;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
